/* basic styling */

body, p, div, h1, h2, a {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  overflow-x: hidden;
  background-color: black;
  color-scheme: dark;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

div {
  background-color: transparent;
}

p, h1, h2 {
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 15px;
  flex-grow: 1;
}

.fill {
  flex-grow: 1;
}

.view {
  width: 90%;
  height: 90%;
  align-items: stretch;
  justify-content: start;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  height: 50px;
}

.bottom {
  justify-content: flex-end;
}

input[type="range"] {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px; /* Custom height */
  background: rgb(71, 71, 71); /* Background color */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 20px; /* Custom thumb width */
  height: 20px; /* Custom thumb height */
  background: #ffffff; /* Thumb color */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%; /* Rounded thumb */
}

.spaced > * {
  margin-bottom: 20px;
}

.deviceTile {
  display: flex;
  width: 90%;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.deviceTile > * {
  margin: 0;
}

.name {
  font-size: 1.5em;
}

.indicator {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.radiant-border {
  border: 10px solid;
  border-image: linear-gradient(45deg, red, yellow, green, blue, purple) 1;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}
