server {
  listen $WEBAPP_PORT;
  server_name app-server;

  # Serve the frontend build output
  location / {
    root   /usr/share/nginx/html;
    try_files $uri $uri/ /index.html;
  }

  # Proxy API requests to the backend
  location /api {
    proxy_pass http://$BACKEND_HOST:$BACKEND_PORT;
  }
}

